.nameAndQuantity {
  display: flex;
  gap: 10px;

  > :first-child {
    width: 80%;
  }

  > :last-child {
    flex: 1;
  }
}

.category {
  display: flex;
  column-gap: 10px;

  .switchWrapper {
    width: 60px;
    display: flex;
    row-gap: 4px;
    flex-direction: column;
  }
}
