// colors
$white: #ffffff;
$primary: #ffd60a;
$blue-dark: #001d3d;
// rgba
$primary-btn-hover: #ffc400cc;
$primary-btn-bg-disabled: #ffc40080;
$primary-btn-text-disabled: #00081480;
$input-bg: #0008140f;
$input-focus: #ffffff85;
$svg-hover: #c7c4c485;
// z-index
$select: 10;
