// colors
$primary: #ffd60a;
$blue-dark: #001d3d;
// rgba
$primary-btn-hover: hsla(46, 100%, 50%, 0.8);
$primary-btn-bg-disabled: hsla(46, 100%, 50%, 0.502);
$primary-btn-text-disabled: hsla(216, 100%, 4%, 0.502);
